body{
    font-size: large;
    color: gold;
    margin: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: black;

}

section{
    border-radius: 20px;
    border-color: aqua;
    color: rgb(86, 165, 40);
     background-color: rgb(230, 41, 41);
    text-align: center;
}

blockquote{
    background-color: blueviolet;
    text-align: center;
    font-size: large;
    font-style: italic;
    text-decoration: dotted;
    font-family: Impact;
}
img{
    width: 10%;
    height: 10%;
    image-orientation: flip;
    margin: 1px;
    border-color: aqua;
}

table{
    color: aqua;
    display: block;
    font-family: 'Lucida Sans';
}

footer{
    text-align: center;
}